@tailwind base;
@tailwind components;
@tailwind utilities;


  .thin-scrollbar::-webkit-scrollbar {
    width: 1px; /* Scrollbar genişliği */
    
  }

  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 1); /* Scroll çubuğu rengi */
    border-radius: 10px;
  }

  .thin-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Arka plan rengi */
  }

  .black-scrollbar::-webkit-scrollbar {
    width: 1px; /* Scrollbar genişliği */
    
  }

  .black-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0); /* Scroll çubuğu rengi */
    border-radius: 10px;
  }

  .black-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Arka plan rengi */
  }



@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Black.ttf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-ExtraBold.ttf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-SemiBold.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Light.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-ExtraLight.ttf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Thin.ttf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Marcellus';
  src: url('/fonts/Marcellus-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Forum';
  src: url('/fonts/Forum-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html:lang(ru) .font-marcellus {
  font-family: 'Forum', sans-serif !important;
}

.social-shadow {
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.10);
}


.parallax {
  background-attachment: fixed;
  background-position: top left; /* "start" yerine daha yaygın ve uyumlu bir değer */
  background-repeat: no-repeat;
  background-size: cover;
}

@supports (-webkit-overflow-scrolling: touch) {
  .parallax {
    background-attachment: scroll;
  }
}


.custom-scroll::-webkit-scrollbar {
  width: 0px; /* Scroll bar tamamen gizlendi */
  height: 0px;
  display: none;
}

.custom-scroll {
  scrollbar-width: none; /* Firefox için */
  -ms-overflow-style: none; /* Edge ve IE için */
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.menu-panel, /* ya da className */
.reservation-bar {
  background-color: rgba(29, 29, 27, 0.5);
  mix-blend-mode: lighten; /* veya screen, overlay, difference vs. */

}


.gallery{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
  transition: all 350ms ease;
  cursor: pointer;
  -webkit-transition:all 350ms ease;
  margin-bottom: 12px;
}

.pics{
  transition: all 350ms ease;
  cursor: pointer;
  -webkit-transition:all 350ms ease;
  margin-bottom: 12px;
}


/* header 80px */
@layer utilities {
  .capsizedText::before {
    content: "";
    margin-bottom: -0.31em;
    display: table;
  }

  
  .capsizedText::after {
    content: "";
    margin-top: -0.315em;
    display: table;
  }
}

/* header 48px */
@layer utilities {
  .capsizedText2::before {
    content: "";
    margin-bottom: -0.3096em;
    display: table;
  }

  .capsizedText2::after {
    content: "";
    margin-top: -0.3154em;
    display: table;
  }
}

/* text 30px */
@layer utilities {
  .capsizedText3::before {
    content: "";
    margin-bottom: -0.4137em;
    display: table;
  }

  .capsizedText3::after {
    content: "";
    margin-top: -0.4196em;
    display: table;
  }
}

/* text 14px-16px */
@layer utilities {
  .capsizedText4::before {
    content: "";
    margin-bottom: -0.3975em;
    display: table;
  }

  .capsizedText4::after {
    content: "";
    margin-top: -0.4025em;
    display: table;
  }
}

/* header 26px */
@layer utilities {
  .capsizedText5::before {
    content: "";
    margin-bottom: -0.3817em;
    display: table;
  }

  .capsizedText5::after {
    content: "";
    margin-top: -0.3875em;
    display: table;
  }
}

/* text 12px */
@layer utilities {
  .capsizedText6::before {
    content: "";
    margin-bottom: -0.9863em;
    display: table;
  }

  .capsizedText6::after {
    content: "";
    margin-top: -1.0137em;
    display: table;
  }
}



.custom-calendar {
  @apply bg-[#1D1D1B] text-white rounded-lg shadow-lg p-3 border border-gray-700 transition-opacity duration-300;
}

.custom-day {
  @apply text-gray-300 hover:bg-gray-600 hover:text-gray-800 rounded-full w-10 h-10 flex items-center justify-center;
}

.selected-day {
  @apply bg-[#EDEDED] text-black font-bold rounded-full w-10 h-10 flex items-center justify-center;
}







